@using airport_frontoffice.ViewModels;
@model ReservationForm
<div class="container">
    @foreach (var item in Model.Vol)
    {
        <div class="bg-white border my-2 p-3">
            <div class="row justify-content-between d-flex mb-2">
                <div class="row mb-1 col-md-6 d-flex flex-fill">
                    <div class="col fw-bold">
                        <i class="bi bi-geo-alt-fill"></i>
                        @item.AirportDepartDetails.Ville <span class="text-muted">[@item.AirportDepartDetails.IATA]</span>
                        -
                        @item.AirportArriveDetails.Ville <span class="text-muted">[@item.AirportArriveDetails.IATA]</span>
                    </div>
                    <div class="col">
                        <span><i class="bi bi-airplane-fill"></i> @item.Avion.Marque @item.Avion.Modele - @item.Avion.Immatriculation</span>
                    </div>
                    <div class="col">
                        <span><i class="bi bi-clock-fill"></i> @item.DateDepart</span>
                    </div>
                </div>
            </div>
            <div class="row overflow-auto">
                <div class="col m-2 border rounded">
                    <span class="fw-bold">Classe économique:</span> @(item.Avion.NbPlaceEconomique - item.NbPlaceEconomiqueReserve) restants
                    <br />
                    <span class="fw-bold">Tarif:   @Html.DisplayFor(m => item.PrixDeBaseEconomique, "CurrencyFormatter")</span>
                </div>
                <div class="col m-2 border rounded">
                    <span class="fw-bold">Classe affaire:</span> @(item.Avion.NbPlaceAffaire-item.NbPlaceAffaireReserve) restants
                    <br />
                    <span class="fw-bold">Tarif:   @Html.DisplayFor(m => item.PrixDeBaseAffaire, "CurrencyFormatter")</span>
                </div>
                <div class="col m-2 border rounded">
                    <span class="fw-bold">Classe première:</span> @(item.Avion.NbPlacePremiere - item.NbPlacePremiereReserve) restants
                    <br />
                    <span class="fw-bold">Tarif:   @Html.DisplayFor(m => item.PrixDeBasePremiere, "CurrencyFormatter")</span>
                </div>
            </div>
        </div>
    }
    <div class="bg-white border my-2 p-3">
        <form asp-controller='Reservation' asp-action='SubmitReservation'>
            @Html.HiddenFor(m => Model.VolId, Model.VolId)
            @if (ViewData["message"] != null)
            {
                <div class="alert alert-warning">
                    @ViewData["message"]
                </div>
            }

            <div class="row col mb-1">
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Personne</label>
                    <input class=" form-control" value="Adulte" disabled />
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Place economique</label>
                    <input asp-for="@Model.PlacesAdulte.NbPlaceEconomique" class=" form-control" id="placeEcoAdulte" value="0" />
                    <span asp-validation-for="@Model.PlacesAdulte.NbPlaceEconomique" class="text-danger"></span>
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Place affaire</label>
                    <input asp-for="@Model.PlacesAdulte.NbPlaceAffaire" class=" form-control" id="placeAffAdulte" value="0" type="number" />
                    <span asp-validation-for="@Model.PlacesAdulte.NbPlaceAffaire" class="text-danger"></span>
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">1ere classe</label>
                    <input asp-for="@Model.PlacesAdulte.NbPlacePremiere" class=" form-control" id="placePremAdulte" value="0" type="number" />
                    <span asp-validation-for="@Model.PlacesAdulte.NbPlacePremiere" class="text-danger"></span>
                </div>
            </div>
            <div class="row col mb-1">
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Personne</label>
                    <input class=" form-control" value="Enfant" disabled />
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Place economique</label>
                    <input asp-for="@Model.PlacesEnfant.NbPlaceEconomique" class=" form-control" id="placeEcoAdulte" value="0" />
                    <span asp-validation-for="@Model.PlacesEnfant.NbPlaceEconomique" class="text-danger"></span>
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Place affaire</label>
                    <input asp-for="@Model.PlacesEnfant.NbPlaceAffaire" class=" form-control" id="placeAffAdulte" value="0" type="number" />
                    <span asp-validation-for="@Model.PlacesEnfant.NbPlaceAffaire" class="text-danger"></span>
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">1ere classe</label>
                    <input asp-for="@Model.PlacesEnfant.NbPlacePremiere" class=" form-control" id="placePremAdulte" value="0" type="number" />
                    <span asp-validation-for="@Model.PlacesEnfant.NbPlacePremiere" class="text-danger"></span>
                </div>
            </div>
            <div class="row col mb-1">
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Personne</label>
                    <input class=" form-control" value="Bebe" disabled />
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Place economique</label>
                    <input asp-for="@Model.PlacesBebe.NbPlaceEconomique" class=" form-control" id="placeEcoAdulte" value="0" />
                    <span asp-validation-for="@Model.PlacesBebe.NbPlaceEconomique" class="text-danger"></span>
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Place affaire</label>
                    <input asp-for="@Model.PlacesBebe.NbPlaceAffaire" class=" form-control" id="placeAffAdulte" value="0" type="number" />
                    <span asp-validation-for="@Model.PlacesBebe.NbPlaceAffaire" class="text-danger"></span>
                </div>
                <div class="col mx-1 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">1ere classe</label>
                    <input asp-for="@Model.PlacesBebe.NbPlacePremiere" class=" form-control" id="placePremAdulte" value="0" type="number" />
                    <span asp-validation-for="@Model.PlacesBebe.NbPlacePremiere" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-1">
                <div class="mx-1 mb-3">
                    <button class="btn btn-primary bg-primary col-12" type="submit">Réserver</button>
                </div>
            </div>

        </form>
    </div>
</div>